.slideshow {
    width: 100%;
    position: relative;
    overflow: hidden;

    .slideshow__slider {
        white-space: nowrap;
        transition: ease 1000ms;

        .slideshow__slide {
            display: inline-block;
            width: 100%;
            height: 255px;
            background-size: cover;
            border-radius: $small-radius;

            @media screen and (min-width: $Media-Desktop) {
                height: 415px;
                border-radius: $large-radius;
            }
        }
    }

    .slideshow__paging {
        display: none;

        @media screen and (min-width: $Media-Desktop) {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 2rem;
            text-align: center;
            color: $white-background;
            font-size: $txt-font-size;
            font-weight: $font-medium;
        }
    }

    .slideshow__arrowLeft {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 24px;

        @media screen and (min-width: $Media-Desktop) {
            width: 48px;

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .slideshow__arrowRight {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 24px;

        @media screen and (min-width: $Media-Desktop) {
            width: 48px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}